/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   
   /* HTML5 display-role reset for older browsers */
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
     display: block;
   }
   
   /* Force scrollbar */
   html {
     overflow-y: scroll;
   }
   
   /* Align radios and text inputs with their label */
   
   input[type='radio'] {
     vertical-align: text-bottom;
   }
   
   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
     cursor: pointer;
   }
   
   strong {
     font-weight: bold;
     font-family: inherit;
     font-size: inherit;
   }
   
   em {
     font-style: italic;
   }
   
   img {
     width: 100%;
     border: 0;
     vertical-align: middle;
   }
   
   sub,
   sup {
     vertical-align: baseline;
     position: relative;
     font-size: 55%;
     line-height: 0;
   }
   
   sup {
     top: -.7em;
   }
   
   sub {
     bottom: -.25em;
   }
   
   /* 1.2. Clear Fix
      ========================== */
   
   .cf:before,
   .cf:after {
     display: table;
     content: " ";
   }
   
   .cf:after {
     clear: both;
   }
   
   .cf {
     *zoom: 1;
   }
   
   /*for all*/
   body {
     box-sizing: border-box;
     font-family: sans-serif;
   }
   
   a {
     display: inline-block;
     text-decoration: none;
   }
   
   li {
     display: inline-block;
     list-style-type: none;
   }
   
   /*for wrapper*/
   .wrapper {
     max-width: 1360px;
     width: 51%;
     margin: 0 auto;
   }
   
   /*=================================
     Header styling starts here
   =================================*/
   .header {
     position: absolute;
     z-index: 2;
     top: 0;
     right: 0;
     left: 0;
   }
   
   .header .wrapper {
     width: 100%;
   }
   
   .header-logo {
     width: 51%;
     padding-top: 18px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   
   
   .hamburger {
     display: none;
   }
   
   .hamburger .bar {
     width: 25px;
     height: 3px;
     margin: 5px;
     display: block;
     background-color: #265699;
     text-indent: -9999px;
     transition: all 0.3s;
   }
   
   .logo-heading {
     position: relative;
     color: #DADEE1;
     font-size: 37px;
     flex-basis: auto;
   }
   
   .logo-heading::before {
     content: "\f106";
     float: left;
     position: absolute;
     top: -8px;
     right: -15px;
     color: #3FACDB;
     font-family: "FontAwesome";
     font-size: 30px;
     transform: rotate(-316deg);
   }
   
   
   .logo-form {
     display: flex;
     align-items: center;
     flex-basis: 34%;
     justify-content: center;
   }
   
   .log-input {
     width: 74%;
   }
   
   .log-input input {
     box-sizing: border-box;
     padding: 6px 4px 6px 10px;
     border: none;
     outline: none;
   }
   
   .go-btn {
     box-sizing: border-box;
     padding: 6px 10px;
     border: none;
     background-color: #388ECB;
     color: #fff;
     outline: none;
     text-transform: capitalize;
   }
   
   .navbar {
     width: 100%;
     margin-top: 40px;
     background: linear-gradient(to right, #2e7bc791, #367db5, #367db59e, #225FAB);
   }
   
   .nav-list {
     width: 51%;
     padding: 6px 0;
     margin: 0 auto;
     display: flex;
     align-items: center;
   }
   
   .list-item {
     padding: 0 1.3%;
     border-right: 1px solid #388ECB;
   }
   
   .list-item:last-child {
     border-right: none;
   }
   
   .nav-link {
     color: #fff;
     font-size: 11px;
     text-transform: capitalize;
     transition: all .3s ease-in-out;
   }
   
   .nav-link:hover {
     color: #000;
   }
   
   /*=================================
     Header styling ends here
   =================================*/
   
   /*=================================
     main styling starts here
   =================================*/
   /* banner section start here */
   .banner {
     padding: 123px 0;
     position: relative;
     background: url(https://fibreguard.com/uploads/_1200x630_crop_center-center_82_none/healthcare-waiting-room-interior-design.jpg?mtime=1595594386) no-repeat top center;
     background-size: cover;
   
   }
   
   .banner::before {
     content: "";
     width: 100%;
     height: 100%;
     display: block;
     position: absolute;
     top: 0;
     background: linear-gradient(to right, transparent 75%, #225fab 89%);
   }
   
   .banner::after {
     content: "";
     width: 100%;
     height: 100%;
     display: block;
     position: absolute;
     top: 0;
     background: linear-gradient(to left, transparent 26%, #225fab 49%);
   }
   
   .banner .wrapper {
     position: relative;
     z-index: 1;
   }
   
   h2 {
     padding-bottom: 10px;
     color: #DADEE1;
     font-size: 32px;
   }
   
   .banner-content p {
     padding-right: 29%;
     color: #81cbf3;
     font-size: 24px;
   }
   
   .banner-content P::first-letter {
     text-transform: capitalize;
   }
   
   .banner-content {
     padding-top: 66px;
   }
   /* banner section end here */
   /* newsleter section start here */
   .newscontent{
    padding: 22px 0;
    display: flex;
    align-items: center;
   }
   h4{
    font-size: 10px;
    color: #000;
   }
   .news-anc{
    color: #000;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all .3s ease-in-out;
   }

   .news-anc:hover{
    color: #777;
   }

   .news-anc::before{
    content: '\f054';
    color: #1c1c1c;
    font-family: "FontAwesome";
    font-size: 8px;
    padding: 0 8px;
   }

   h3{
    padding-bottom: 16px;
    color: #4F7EAF;
    font-size: 25px;
   }
    h3::first-letter{
      text-transform: capitalize;
    }

    .input-group,
    .option{
      display: flex;
      flex-direction: column;
      width: 32%;
    }

    label{
      font-size: 10px;
    }

    label::first-letter{
      text-transform: capitalize;
    }

  .input-group:nth-child(5) label,
  .input-group:nth-child(7) label{
    text-transform: capitalize;
  }
   .input{
    width: 100%;
    padding: 6PX 4%;
    margin: 10px 0 18px;
    box-sizing: border-box;
    border: 1px solid #D4D3D3;
    border-radius: 2px;
    outline: none;
    box-shadow:inset 0 0 5px  #D1D0D0
   }

   .option{
    width: 100%;
    margin: 10px 0 18px;
    box-sizing: border-box;
    outline: none;
    position: relative;
   }

   .option::before{
    content: "\f0d7";
    font-family: "FontAwesome";
    float: left;
    position: absolute;
    top: 2px;
    right: 6px;
    color: #fff;
    font-size: 12px;
   }
   .option::after{
    content: "\f0d7";
    font-family: "FontAwesome";
    float: left;
    position: absolute;
    top: 12px;
    right: 6px;
    color: #fff;
    font-size: 12px;
    transform: rotate(180deg);
   }

   .company-type,
   .country{
    width: 100%;
    padding: 6px 4%;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #369fe3;
    color: #fff;
    appearance: none;
    cursor: pointer;
   }

   .para1,
   .para2{
    padding: 0 7% 15px 0;
    font-size: 10px;
    line-height: 20px
   }
   
   .checkbox label{
    text-transform: capitalize;
   }

   .checkbox{
    padding-bottom: 20px;
   }

   .para-anc{
    font-size: 10px;
    color: #4BB2E9;
    transition: all .3s ease;
   }
   
   .para-anc:hover{
    color: #777;
   }

   .input-control{
    padding-bottom: 98px;
   }

   .submit-btn{
    font-size: 10px;
    padding: 7PX 7%;
    background-color: #409FE3;
    color: #fff;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
   }

   .submit-btn:hover{
    color:#409FE3;
    background-color: #fff;
    border: 2px solid #409FE3;
    border-radius: 4px;
   }
   /* newsletetr section end here */
   
   /*=================================
     main styling ends here
   =================================*/
   
   /*=================================
     footer styling starts here
   =================================*/
   
   
   
   
   
   
   
   /*=================================
     footer styling ends here
   =================================*/
   
   /*media query starts*/
   /*media query for 995px starts here*/
   @media only screen and (max-width: 995px) {}